body { background-color: lightyellow;
     }
h1 { text-align:center;
    font-size:40px;
   color:green;}
p { text-align:center; 
   font-size: 18px;}
h2 { text-align:center;
    font-size:28px;}
ul{list-style:none;
   padding:0;
   width:90%;
   margin:auto;}
li{margin:10px auto;
   font-size:18px;
   padding:15px;
   border-radius:10px;
   background-color:white;  
   width:80%;
   box-shadow:0 2px 8px gray;
   font-weight:bold;
   color:darkgreen;
  }
   li:hover {transform:scale(1.03);}

.tea{color:brown;}
.roll {color:blue;}
.cutlet{color:red;}
.rotti {color:orange;}
button { display:block;
        margin:10px auto;}

