*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(0,0,0,.75);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo h1{
color:#2ecc71;
font-size:34px;
font-weight:700;
}

.logo p{
font-size:13px;
color:#fff;
letter-spacing:3px;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#2ecc71;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
}

.overlay h2{
font-size:60px;
color:#2ecc71;
margin-bottom:15px;
}

.overlay p{
font-size:22px;
margin-bottom:25px;
}
